.comment-padding {
    padding-right: 1rem;
}

#commentsLeft {
    max-height: 28rem;
    overflow: auto;
}

#commentsRight {
    border: solid;
    border-color: #dee2e6;
    border-width: 1px;
    margin-bottom: 1rem;
    max-height: 28rem;
    padding: 1ch;
    overflow: auto;
}

#archiveComments {
    display: inline-table;
    /*width: 20rem;*/
}

#comments {
    display: block;
    padding-top: 1ch;
}

.cursor-hover {
    cursor: pointer;
}